[submodule "vendors/codex"]
	path = vendors/codex
	url = git@github.com:chenlehua/codex.git
[submodule "vendors/open-notebook"]
	path = vendors/open-notebook
	url = git@github.com:chenlehua/open-notebook.git
